extends layout

block meta
    meta(property="og:title" content="Keep Digging")
    title Keep Digging

block content-header
block content
    .row
    .row
        .dark-background.center
            h1= __("header.keepDiggingTitle")
            p
            | There doesn't appear to be anything in this grave. Keep digging, pal.
