extends layout

block meta
    meta(property="og:title" content="About the Dead")
    title About the Dead

block content-header
block content
    .row
    .row
        .dark-background.center
            h1= __("header.aboutTitle")
            p
            | dead.gg was founded in 2019 as a partnership between <a href="https://keybase.io/zaekona">@zaekona</a> and <a href="https://keybase.io/kurozael">@kurozael</a>
            | with a goal to build new and exciting games, the first game is <a href="/games">Soon Dead</a> which we are hoping to release on <a href="https://steamcommunity.com">Steam</a> before 2021
