extends layout

block meta
    meta(property="og:title" content="Dead Assets")
    title Dead Assets

block content-header
block content
    .row
    .row
        .dark-background.center
            img(src="images/zapnet.png" style="max-width: 100%; max-height: 200px;")
            p
            | Zapnet is a multiplayer games framework for Unity developed specifically for programmers. Many other assets try to make their frameworks more accessible to less experienced developers by integrating visual editing into the Unity Editor by sacrificing performance and speed. Zapnet doesn't do this, and trusts that the programmer knows what they're doing.
            h1 Documentation
            p
            | All methods within the Zapnet framework are fully documented, and our wiki provides you with various guides to help you get started. <b>The package also includes an example game.</b>
            p
            | You can find all documentation and guides at <a href="https://zapnet.dead.gg">https://zapnet.dead.gg</a>
