extends layout

block meta
    meta(property="og:title" content="Contact the Dead")
    title Contact the Dead

block content-header
block content
    .row
    .row
        .dark-background.center
            h1= __("header.contactTitle")
            p
            | If you would like to get hold of us please <a href="mailto:email@is.dead.gg">send us an e-mail</a> or feel free to approach us on our Discord server
