extends layout

block meta
    meta(property="og:title" content="Dead Games")
    title Dead Games

block content-header
block content
    .row
    .row
        .dark-background.center
            h1= __("header.games.soonDead")
            p
            | Soon Dead is an upcoming multiplayer RPG with a heavy focus on PvP and a player created community
            p
            | Early access keys are available via <a href="https://steamcommunity.com">Steam</a> for our most active community members
