extends layout

block meta
    meta(property="og:title" content="Dead Games")
    title Dead Games

block content-header
block content
    .row
    .row
        .dark-background.center
            h1= __("header.games.soonDead")
            p
            | Soon Dead is a multiplayer RPG with a heavy focus on PvP and a player created community
            p
            | Early access keys are available via <a href="https://steamcommunity.com">Steam</a> for our most active community members
            ul
                li
                    i.fa.fa-star
                    b Full-loot PvP with safe zones
                li
                    i.fa.fa-star
                    b Soft-skill system to make things like mining more efficient over time
                li
                    i.fa.fa-star
                    b Questing and player-vs-environment content
                li
                    i.fa.fa-star
                    b An arsenal of weaponry from medieval to modern
                li
                    i.fa.fa-star
                    b Build a house almost anywhere in the game world
                li
                    i.fa.fa-star
                    b Interesting and mysterious lore drops
