extends layout

block meta
    meta(property="og:title" content="Join the Dead")
    title Join the Dead
    
block content-header
block content
    .row
    .row
        .dark-background.valign-wrapper.banner
            img(src="images/logo-200.png")
    .row
        .dark-background.center
            h1= __("header.homeTitle")
            .social-list
                a.social(href="https://steamcommunity.com/groups/officialdeadgg")
                    i.fab.fa-steam
                a.social(href="https://join.dead.gg")
                    i.fab.fa-discord
                a.social(href="https://github.com/deadgg")
                    i.fab.fa-github
                a.social(href="https://reddit.com/u/deadgg")
                    i.fab.fa-reddit
                a.social(href="https://youtube.com/channel/UCXlzX7-f5PPQQ1DF7peQcWw")
                    i.fab.fa-youtube
                a.social(href="https://facebook.com/officialdeadgg")
                    i.fab.fa-facebook
                a.social(href="https://twitter.com/officialdeadgg")
                    i.fab.fa-twitter
                a.social(href="https://vk.com/officialdeadgg")
                    i.fab.fa-vk
            div.discord-widget
                widgetbot(server="652099315829047329" channel="652109244484681730" width="100%" height="100%")
